{% extends 'base.html' %}

{% block title %}500. Erro inesperado{% endblock title %}

{% block content %}
<section>
    <div class="content row padding-botton-3 desktop-12 container">
        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <div class="desktop-6">
            <p>Desculpe, ocorreu um erro insperado.</p>
            <p>
                Nossa equipe j&aacute; foi notificada do problema. <br>
                Caso necess&aacute;rio entre em contato com <a href="mailto:suporte@eventex.com.br?subject=500 Erro inesperado">suporte@eventex.com.br</a>
            </p>
        </div>
    </div>
</section>
{% endblock content %}